nav{
    border-bottom: 0.5px solid rgba(255,255,255,0.8);
    // border-left: 0;
    // border-right: 0;
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    .block{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 3rem;
        }
        svg{
            height: 2rem;
            width: 2rem;
        }
    }
    .data {
        border: 0.5px solid rgba(255,255,255,0.8);
        border-top: 0;
        border-bottom: 0;
        padding: 0 20px;
        ul{
            display: grid;
            height: 100%;
            grid-template-columns:repeat(5,20%) ;
            list-style-type:none;
            z-index: 1;
            position: relative;
            text-align: center;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: white;

            }
            li{
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 50px;
                letter-spacing: 0.2rem;
                height: 100%;
                text-decoration: none;
            }
        }
    }
}
.underline{
    display: block;
    position: absolute;
    z-index: 0;
    bottom:1rem;
    left: 1rem;
    width: 20%;
    height: calc(4px/2);
    mix-blend-mode: initial;
    background-color:white;
    &:nth-child(1){
        transition: calc(0.5s *0.8) ease-in-out;
    }
    &:nth-child(2){
        transition: calc(0.5*1.2) ease-in-out;
    }
}