// main-component{
//     background-color: black;
// }
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tilt+Warp&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Tilt Warp", sans-serif;
    background-color: black;
    color:white
}